.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    color: #8DAFFC;
}
.el-menu-item.is-active {
    border-color: #8DAFFC;
    color: #8DAFFC;
}
.el-menu--horizontal {
    border: none;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #f4f7ff;
    color: #8DAFFC;
}
.el-icon-female {
    color: #F696D5;
}
.el-icon-male {
    color: #A2B9EE;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #8DAFFC;
}
.el-button--primary {
    background-color: #8DAFFC;
    border-color: #8DAFFC;
}
.el-button--primary:focus, .el-button--primary:hover {
    background-color: #A2B9EE;
    border-color: #A2B9EE;
}
.el-button:focus, .el-button:hover {
    color: #fff;
    border-color: #8DAFFC;
    background-color: #739eff;
}
.el-tabs--border-card>.el-tabs__header {
    background-color: #f4f7ff;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: #8DAFFC;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #8DAFFC;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #8DAFFC;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #8DAFFC;
    background-color: #8DAFFC;
}
.edit_btn {
    color: #8DAFFC;
    border-color: #8DAFFC;
}
.edit_btn:hover {
    color: #8DAFFC !important;
    border-color: #8DAFFC !important;
    background-color: #f4f7ff !important; 
}
.el-menu-item:focus, .el-menu-item:hover {
    background-color: #f4f7ff;
}
.el-button.is-plain:focus, .el-button.is-plain:hover {
    border-color: #8DAFFC;
    color: #8DAFFC;
}